.bosluk{
    margin: 5px;
}

.ana_baslik{
    color: rgb(239, 40, 157);
}

.alt_baslik{
    color: rgb(239, 40, 157);
    text-align: center;
}

.alt_baslik2{
    color: rgb(239, 229, 40);
}

.ortala{
    text-align: center;
}